description = "Slider Partial"
==
<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area" style="background-image: {{ 'assets/images/slider/cover3.jpg'|theme }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
                            {% component 'contenteditor' file="slider/slidertitle1.htm" %}
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
                            {% component 'contenteditor' file="slider/slidersubtitle1.htm" %}
                    </p>
                            {% component 'contenteditor' file="slider/boutonslider1.htm" %}
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area1" style="background-image: {{ 'assets/images/slider/cover2.jpg'|theme }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
                            {% component 'contenteditor' file="slider/slidertitle2.htm" %}
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
                            {% component 'contenteditor' file="slider/slidersubtitle2.htm" %}
                    </p>
                            {% component 'contenteditor' file="slider/boutonslider2.htm" %}
                </div>
            </div>
        </div>
    </div>
</div>